body    {
    margin: 20px;
}
/**********************/

.counter_num {
    text-align: center;
    font-size: 30px;
    color: blue;
    cursor: pointer;
    height: 48px;
    width: 48px;
}
/*********************/

#input  {
    font-size: 30px;
    cursor: pointer;
    color: blue;
    text-align: center;
    width: 200px;
}